.music-controls {
  min-height: 40vh;
  @include flex(column, center, center);
}

.controls-info {
  width: 50%;
  @include flex(row, space-between, center);
  input {
    width: 100%;
    padding: 1rem 0rem;
  }
  p {
    padding: 0rem 1rem;
  }
}

.controls-buttons {
  width: 25%;
  padding-top: 2rem;
  @include flex(row, space-between, center);
}
