$main-color: rgb(236, 200, 245);
$sec-color: pink;
$grey-color: rgb(200, 200, 200);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
}

@import "global";
@import "nav";
@import "musicPlayer";
@import "musicControls";
@import "songsLibrary";
